/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5a45ff;
  --ifm-color-primary-dark: #3e28ff;
  --ifm-color-primary-darker: #311bff;
  --ifm-color-primary-darkest: #1a00ff;
  --ifm-color-primary-light: #7662ff;
  --ifm-color-primary-lighter: #8370ff;
  --ifm-color-primary-lightest: #a399ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8e80ff;
  --ifm-color-primary-dark: #7160ff;
  --ifm-color-primary-darker: #634fff;
  --ifm-color-primary-darkest: #452fff;
  --ifm-color-primary-light: #ab9fff;
  --ifm-color-primary-lighter: #bbafff;
  --ifm-color-primary-lightest: #dedaff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.hero--primary {
  background-color: #f7f7f7;
  color: #2c2c2c;
}

[data-theme='dark'] .hero--primary {
    background-color: #1a1a1a;
    color: #f5f5f5;
}

.hero__title {
    font-size: 3.5rem;
    font-weight: 700;
}

@media screen and (max-width: 996px) {
  .hero__title {
    font-size: 2.5rem;
  }
}
